@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-links html {
    scroll-behavior: smooth;
}
/* Transition */
.nav-links a, .btn {
    transition: all 300ms ease;
}
.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
}
.nav-links a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.nav-links {
    gap: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* To make the navbar slightly transparent */
}
